<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<div id="layoutSidenav_nav" th:fragment="leftMenuFragment">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="#" th:onclick="|location.href='@{/home}'|">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    OUT-BOX
                </a>
                <a class="nav-link" href="#" th:onclick="|location.href='@{/inbox-documents}'|">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    IN-BOX
                </a>
                <a class="nav-link" href="#" th:onclick="|location.href='@{/archive-documents}'|">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    ARCHIVE-BOX
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>
</html>
