<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="${type}"></title>
    <link th:href="@{/asseset/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/asseset/css/bootstrap-theme.css}" rel="stylesheet"/>
</head>
<body>

<h1 th:text="${type}"></h1>

<div style="padding: 10px;">
    <button type="button" class="btn btn-info" th:onclick="|location.href='@{/index}'|">
        Go Index
    </button>
    <button th:if="${type == 'OUTBOX'}" type="button" class="btn btn-primary"
            th:onclick="|location.href='@{/document}'|">
        문서 작성하기
    </button>
</div>

<table id="commentTable" class="table table-striped">
    <tr>
        <th class="th">제목</th>
        <th class="th">분류</th>
        <th class="th">작성자</th>
        <th class="th">상태</th>
        <th class="th">작성일</th>
        <th class="th">수정일</th>
        <th class="th">action</th>
    </tr>
    <tr th:each="item : ${list}" class="tr">
        <td th:text="${item.title}" class="td"></td>
        <td th:text="${item.classification}" class="td"></td>
        <td th:text="${item.wirter}" class="td"></td>
        <td th:text="${item.state}" class="td"></td>
        <td th:text="${item.createDate}" class="td"></td>
        <td th:text="${item.updateDate}" class="td"></td>
        <td class="td">
            <div th:if="${type == 'OUTBOX'}">
                <button type="button"
                        class="btn btn-primary"
                        th:onclick="|location.href='@{/detail-document/{id}(id=${item.id})}'|">
                    상세
                </button>
                <form th:action="@{/api/document/{id}(id=${item.id})}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button id="deleteBtn" type="submit" class="btn btn-warning">
                        삭제
                    </button>
                </form>
            </div>
            <button th:if="${type == 'ARCHIVE'}"
                    type="button"
                    class="btn btn-primary"
                    th:onclick="|location.href='@{/payment-document/{id}(id=${item.id})}'|">
                상세
            </button>
            <button th:if="${type == 'INBOX'}" type="button" class="btn btn-secondary"
                    th:onclick="|location.href='@{/payment/{id}(id=${item.id})}'|">
                결재하기
            </button>
        </td>
    </tr>
</table>

</body>
</html>
