<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <title>Dashboard - SB Admin</title>
    <th:block th:replace="fragment/config :: configFragment"/>
</head>
<body class="sb-nav-fixed">
<th:block th:replace="fragment/header :: headerFragment"/>
<div id="layoutSidenav">
    <th:block th:replace="fragment/leftMenu :: leftMenuFragment"/>
    <div id="layoutSidenav_content">
        <main style="padding: 20px;">
            <div style="text-align: end;">
                <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/document}'|">
                    문서 작성하기
                </button>
            </div>

            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                    <tr>
                        <th class="th">제목</th>
                        <th class="th">분류</th>
                        <th class="th">작성자</th>
                        <th class="th">상태</th>
                        <th class="th">작성일</th>
                        <th class="th">수정일</th>
                        <th class="th">action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${list}"
                        class="tr"
                        style="cursor: pointer"
                        th:onclick="|location.href='@{/detail-document/{id}(id=${item.id})}'|">
                        <td th:text="${item.title}" class="td"></td>
                        <td th:text="${item.classification}" class="td"></td>
                        <td th:text="${item.wirter}" class="td"></td>
                        <td th:text="${item.state}" class="td"></td>
                        <td th:text="${item.createDate}" class="td"></td>
                        <td th:text="${item.updateDate}" class="td"></td>
                        <td>
                            <form th:action="@{/api/document/{id}(id=${item.id})}" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
        </main>
        <th:block th:replace="fragment/footer :: footerFragment"/>
    </div>
</div>
<th:block th:replace="fragment/script :: scriptFragment"/>
</body>
</html>
