<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layouts/layout">
<head>
    <title>Dashboard - SB Admin</title>
    <th:block th:replace="fragment/config :: configFragment"/>
</head>
<body class="sb-nav-fixed">
<th:block th:replace="fragment/header :: headerFragment"/>
<div id="layoutSidenav">
    <th:block th:replace="fragment/leftMenu :: leftMenuFragment"/>
    <div id="layoutSidenav_content">
        <main>
            <span>
                Home
            </span>
        </main>
        <th:block th:replace="fragment/footer :: footerFragment"/>
    </div>
</div>
<th:block th:replace="fragment/script :: scriptFragment"/>
</body>
</html>
